body {
    font-family: Arial, sans-serif;
    background-image: url(https://png.pngtree.com/background/20210716/original/pngtree-calculator-childrens-day-toy-background-picture-image_1339705.jpg);
    width: 100%;
    z-index: -1;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: transparent;
    border-radius: -20px;
    box-shadow: 0 4px 8px #00aeff;
    width: 500px;
    height: 400px;
}

.display {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 49%);
}

.display input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 24px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.buttons button {
    border-color: #8400ff;
    outline:invert;
    background-color: gray;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: hwb(199 62% 0%);
}
.calcu{
    background-color: #00aeff;
    color: pink;
    font-weight: 600;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.calc{
    color:  yellow;
    font-style: italic;
}
footer{
    padding-top: 700px;
    font-weight: 900;
    color: #000000;
}